<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>application-identifier</key>
    <string>56C26K6765.com.wuling.productionMobile</string>
    <key>aps-environment</key>
    <string>production</string>
    <key>com.apple.developer.authentication-services.autofill-credential-provider</key>
    <true/>
    <key>com.apple.developer.team-identifier</key>
    <string>56C26K6765</string>
    <key>get-task-allow</key>
    <false/>
    <key>keychain-access-groups</key>
    <array>
        <string>56C26K6765.*</string>
        <string>com.apple.token</string>
    </array>
</dict>
</plist>
